.post {
  position: relative;
  top: 0;
  justify-content: center;
  align-items: center;
  height: auto;
  z-index: 0;  
}

.post__header {
  height: 150px;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  background-color: #040404;
}

.post__header--content {
  padding: 40px 0 40px 50px;
}
.post__header--content h1{
  padding: 10px 0;
}
.post__btn {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 50px;
}

.post__content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 5px;
}
.post__list {
  margin: 20px;
  width: 65%;
  min-width: 300px;
}
.post__list--menu {
  align-items: center;
  height: auto;
  margin: 0 5px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #c3c9c9;
}
.post__list--menu ul {
  display: flex;
  flex-wrap: wrap;
  
  align-items: center;
}
.post__list--menu ul li a{
  color: #575757;
  display: block;
  margin: 5px 0;
  box-sizing: unset;
  font-weight: bold;
  padding: 5px 10px;
  background-clip: padding-box;
  text-decoration: none;
}
.post__list--menu ul li:hover {
  background-color: white;
}
.post__list--menu div {
  display: flex;
}
select {
  background-color:  rgb(207, 207, 207);
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  color: #b93632;
}
.content__list {
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  margin: 10px 5px;
}
.media {
  display: flex;
  padding: 10px;
  font-size: 1.8rem;
}
.media-left {
  margin-right: 10px;
  height: 50px;
}
.media a {
  color: #575757;
  text-decoration: none;
}
.media a img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.media-body a div h3{
  color: #040404;
}
.title {
  display: flex;
  flex-wrap: wrap;
}
.title .topic {
  margin-left: 5px;
  color: #040404;
  border: 1px solid tan;
}
.media-body .user{
  font-weight: bold;
  color: rgb(12, 171, 219);
}
.content {
  margin: 7px 0;
  color: #575757;
  overflow: hidden;
  max-height: 72px;
  text-overflow: ellipsis;
}
.status {
  display: flex;
  flex-wrap: wrap;
  margin-top:5px;
}
.status-list {
  display: flex;
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 10px;
}
.status-list p {
  display: block;
  margin-left: 4px;
}

.status-list img {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: 4px;
}


/* Pages */

.post__list-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #c3c9c9; */
  margin: 5px;
  margin-top: 20px;
}
.page-list a, .next-page a, .prev-page a {
  text-decoration: none;
  padding: 5px;
}
.pages-index_light {
  background-color: khaki;
}

/* Slider */
.post__slider {
  margin: 20px;
  width: 25%;
  min-width: 300px;
}
.topics__header, .questions__header {
  background-color: darkgoldenrod;
  height: 40px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}
.questions-list, .topic-list {
  display: flex;
  flex-direction: column;
}
.topic-list, .questions-list {
  background-color: azure;
  padding: 20px 20px;
  margin: 20px 0 40px 0;
}
.questions-list__items, .topic-list__items {
  text-decoration: none;
  margin: 10px 0;
  color:#575757;
}
.questions-list__items h3 {
  font-weight: normal;
  color: #b93632;
}
.topics__header {
  background-color: aquamarine;
}

@media  (max-width: 768px){ 
  .post__list {
    width: 100%;
  }
  .post__slider {
    width: 100%;
  }
}