
.top{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
}
.top .header_button {
  margin: 60px;
}

.top .question_header{
  margin: 0 60px;
}
.top .question_header p{
  margin-top: 10px;
}

.question__content {    
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 20px 25px;
}
.left{
  padding: 25px;
  width: 70%;
  min-width: 300px;
}
.left .question_list_menu{
  align-items: center;
  height: 45px;
  margin: 0 5px;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #c3c9c9;
}
.question_list_menu ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
  .question_list_menu ul li a{
  color: #575757;
  box-sizing: unset;
  font-weight: bold;
  padding: 5px 10px;
  background-clip: padding-box;
  text-decoration: none;
}
.question_list_menu ul li a:hover{
  background-color: white;
}
.question_list_menu div{
  display: flex;
}

.left .content--question{
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  margin: 10px 5px;
}
.media .media-left img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.media{
  display: flex;
  padding: 10px;
  font-size: 1.8rem;
}
.media-body a{
  text-decoration: none;
}
.media-body .user{
  font-size: revert;
  color: rgb(12, 171, 219);
}
.media-body .ques .title--ques{
    margin: 7px 0;
    color: #575757;
    font-weight: bold;
    font-size: x-large;
    overflow: hidden;
    max-height: 80px;
    text-overflow: ellipsis;
}
.media-body .ques p{
  margin: 12px 0;
  color: #575757;
  overflow: hidden;
  max-height: 72px;
  text-overflow: ellipsis;
}
.question__status{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.question__status .status-list-img img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.status-list {
  display: flex;
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 10px;
}
.status-list p {
  display: block;
  margin-left: 4px;
}

.status-list img {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  margin-left: 4px;
}
.status-list-img{
  display: flex;
}
.status-list-img p{
  margin-left: 4px;
}

/* Pages */

.post__list-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: #c3c9c9; */
  margin: 5px;
  margin-top: 20px;
}
.page-list a, .next-page a, .prev-page a {
  text-decoration: none;
  padding: 5px;
}
.pages-index_light {
  background-color: khaki;
}

.right{
  margin: 20px;
  width: 25%;
  min-width: 300px;
}
.post__slider {
  padding: 5px;
}



@media  (max-width: 768px){
  .left, .right {
       width: 90%;
  }
}